body {
    background-image: url(Imagens/Projetos/WhatsApp\ Image\ 2022-11-18\ at\ 13.26.34.png);

}

img.projetos {
    width: 50%;
}

div.part {
    justify-content: space-between;
    display: flex;
    
}

div.parts {
    position: relative;
    width: 50%;
    color: white;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}

#espaçoLivre{
    padding-top: 50px;
}